<div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="center center">
  <div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="assets/logo1.png" style="border-radius: 20px; border: 1px solid black;" />
    <span>BookStore</span>
    <div class="spacer"></div>
    <div class="example-button-row">
      <a mat-raised-button routerLink="/dashboard">Dashboard</a>
      <a mat-raised-button color="primary" routerLink="/library">Library</a>
      <a mat-raised-button color="accent" routerLink="/searchbook">Search</a>
      
    </div>
  </div>
</div>