.spacer {
    flex: 1;
  }


.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: radial-gradient(circle at 0% -25%,#FF8947 0%,#FF8354 0,#DA2C94 42%,#3E13A5 110%);
    color: white;
  
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }








  .docs-footer{
    padding: 12px;
    font-size: 12px;
}

.docs-footer {
    background: #3f51b5;
    color: #fff;
}





  .docs-footer-list{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
    width: 100%;
}

.docs-footer-logo{
    flex: 1;
}

.docs-footer-angular-logo{
    height: 50px;
}


.docs-footer-logo span{
    display: inline-block;
    line-height: 50px;
    margin: 0 40px;
    vertical-align: bottom;
}



.docs-footer-version {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.docs-footer-version{
    width: 40px;
    height: 40px;
    margin: 10px 0 10px 16px;
}

.docs-footer-version {
    margin: 0 40px;
}


.docs-footer-copyright{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 225px;
    text-align: center;
}
