<div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="center center">
<div class="toolbar" role="banner">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
          <span>Learn Angular</span>
      </div>
    </div>
    <div  class="docs-footer-version">
      <span  class="version">Current Version: 14.2.0</span>
    </div>
    <div  class="docs-footer-copyright">
      <span >Powered by Google LLC ©2010-2021.</span>
    </div>
  </div>
</div>
</div>